.welcome {
  width: 100%;
  height: 95vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(108, 9, 121, 1) 48%,
    rgba(128, 0, 255, 1) 100%
  );
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(108, 9, 121, 1) 34%,
    rgba(128, 0, 255, 1) 100%
  ); */
  color: #fff;
  background-size: 200% 100%;
  animation: gradient 8s ease infinite;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.welcome__basic {
  text-align: center;
  position: relative;
  top: 30%;
  line-height: 70px;
  font-family: "Quicksand", "Poiret One", serif;
}

.welcome__title {
  font-size: 55px;
}

.welcome__text {
  font-size: 40px;
}

@media (max-width: 1919px) {
  .welcome__title {
    font-size: 45px;
  }

  .welcome__text {
    font-size: 30px;
  }
}

.rotateicon {
  transform: rotate(-120deg);
}

@media (max-width: 767px) {
    .welcome__title {
        font-size: 35px;
      }
      
      .welcome__text {
        font-size: 30px;
      }

      
.welcome__basic {
    top: 25%
}
}