
.entrancePage {
    width: 100%;
    min-height: 95vh;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(108, 9, 121, 1) 48%,
      rgba(128, 0, 255, 1) 100%
    );

    color: #fff;
    background-size: 200% 100%;
    animation: gradient 8s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .entrancePanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }

.container {
  padding: 30px 50px;
  background-color: #333C83;
  color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.entrancePanel__inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.entrancePanel__top {
    display: flex;
    column-gap: 15px;
}

.userAvatar {
    border-radius: 50%;
}

.entrancePanel__topUsername {
    background-color: #333C83;
    margin-top: auto;
    font-family: 'Quicksand', 'Poiret One';
    font-size: 18px;
}


.chatHeader {
  background-color: #333C83;
  width:100%;
  font-family: 'Roboto';
  display: flex;
  align-items: center;
}

@media (max-width: 369px) {
  .chatHeader {
    flex-direction: column;
  }
}

.chat {
    min-height: 83vh;
    background-color: #333C83;
    color: #fff;
    text-align: center;
    width:100%;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.chat__messages {
    margin-bottom: 80px;
}

.messages__connection {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.connectionContainer {
    background-color: #8479E1;
    padding: 15px;
    border-radius: 15px;
    max-width: 350px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 18px;
}

.messages__connectionUsername {
    text-decoration: underline;
    font-family: 'Quicksand', 'Poiret One';
}



.messages__messageRight {
  display: flex;
  column-gap: 15px;
  align-items: flex-end;
  word-break: break-word;
  margin-right: 10px;
  justify-content: flex-end;
}

.messages__messageLeft {
  display: flex;
  column-gap: 15px;
  align-items: flex-end;
  word-break: break-word;
  margin-left: 10px;
  justify-content: flex-start;
}

.messages__messageContainer {
  margin-top: 20px;
  padding: 15px;
  position: relative;
}

.messages__messageContainer_left {
  margin-right: 11px;
}

.messages__messageContainer_right {
  margin-left: 11px;
}


.messages__messageContainer_right {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color:#4B7BE5;
}

.messages__messageContainer_right::before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -10px;
  height: 30px;
  width: 30px;
  background: inherit;
  border-bottom-left-radius: 15px;
}

.messages__messageContainer_right::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -15px;
  height: 31px;
  width: 15px;
  background: #333C83;
  border-bottom-left-radius: 10px;
}

.messages__messageContainer_left {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color:#383838;
}

.messages__messageContainer_left::before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -10px;
  height: 30px;
  width: 30px;
  background: inherit;
  border-bottom-right-radius: 15px;
}

.messages__messageContainer_left::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -15px;
  height: 31px;
  width: 15px;
  background: #333C83;
  border-bottom-right-radius: 10px;
}


.messages__messageInfo {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}

.messages__messageName {
  font-weight: 800;
  font-family: 'Quicksand', 'Poiret One';
}

.messages__messageText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  overflow: hidden;
  white-space: pre-wrap;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.messages__fileMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.messages__messageText a {
    text-decoration: underline;
    color: gold;
}

.messages__messageText ul {
  list-style: inside;
  list-style-type: disc;
}

.messages__messageTime {
  font-size: 14px;
}

@media (max-width: 499px) {
  .messages__messageName {
    font-size: 17px;
  }

  .messages__messageText {
    font-size: 17px;
  }
}



.bottom {
    display: flex;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.bottom fieldset {
  border-radius: 0;
}



.bottom__dragArea{
  font-family: 'Quicksand', 'Poiret One';
  height: 350px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media(max-width: 999px) {
  .bottom__dragArea{
    height: 200px;
  }
}

.bottom__provider {
  padding: 0 10px;
}

@media(max-width: 321px) {
  .bottom__provider {
    font-size: 15px;
  }
}

.bottom__dragArea.active{
  border: 2px solid #fff;
}

.bottom__dragAreaIcon{
  font-size: 10px;
  color: #fff;
  margin: 15px 0;
}
.bottom__dragArea header{
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.bottom__dragArea span{
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}

.bottom__dragAreaInfo {
  font-size: 18px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center
}