.tokenPage {
    width: 100%;
    min-height: 95vh;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(108, 9, 121, 1) 48%,
      rgba(128, 0, 255, 1) 100%
    );

    color: #fff;
    background-size: 200% 100%;
    animation: gradient 8s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .tokenPage__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }

.container {
  padding: 30px 50px;
  background-color: #333C83;
  color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tokenPage__title {
    font-size: 25px;
    font-family: 'Roboto', serif;
}

.tokenPage__elements {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


@media (max-width: 600px) {
  .container {
    width: 100%;
    overflow: hidden;
  }
}